<div class="container">
    <div class="row">
      <div class="col-sm-8">
  <input type="text" placeholder="test" [(ngModel)]="selection">
  <p>
    {{selection}}
  </p>

  <button (click)="afficher()">GO</button>
  <div data-spy="scroll">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Nom</span></th>
        <th><span>URL</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of (tableaupokemonW | filterPokemonPipe :  selection)">
        <td>{{pokemon.id}}</td>
        <td>{{pokemon.name}}</td>
        <td>{{pokemon.url}}

        </td>
        <button class="btn btn-lg btn-outline-primary" (click)="open(pokemon.id)">Voir des details du pokemon</button>
      </tr>
    
    </tbody>
  </table>
</div>

</div>

<div class="col-sm-4">
    <div class="modal-header">
        <h4 class="modal-title">Detail du pokemon selectionné</h4>
      </div>
      <div  *ngIf="detailPokemon" class="modal-body">
        <p >Id:  {{detailPokemon.id}}</p>
        <p >Nom:  {{detailPokemon.name}}</p>
        <p >Taille:  {{detailPokemon.height}}</p>
        <p >Poids: {{detailPokemon.weight}}</p>
        
      </div>
</div>
